* {
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.topsection {
  background-color: #1f2937;
  color: white;
  word-wrap: break-word;
  padding: 0 12vh 10vw 12vw;
  justify-content: center;
}

.section1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.headersection {
  color: white;
  background-color: #1f2937;
}

.mainheading {
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
}

h2 {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header-right {
  display: flex;
  gap: 10px;
  filter: brightness(75%);
  align-items: center;
}

.header-right a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.heromaintext {
  flex-wrap: wrap;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.infoheadertext {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.imagediv {
  width: 90%;
  background-color: aliceblue;
}

.smallimagesection {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.smallimagesubsection {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  text-align: center;
}

.smallimage {
  flex: none;
  border: 4px solid #3882f6;
  border-radius: 10%;
  height: 150px;
  width: 150px;
}

.quotesection {
    padding: 5vw;
    margin: 3vw 0;
    padding-left: 17vw;
    padding-right: 17vw;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

blockquote {
    font-weight: lighter;
    font-style: italic;
}

.citation {
    font-size: 26px;
    font-weight: bolder;
    text-align: right;
}

.actionsection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-left: 17vw;
    margin-right: 17vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
}

.action-left {
    justify-content: center;
    align-items: center;
}

.actionheading {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.actiontext {
    color: #E5E7EB;
    font-size: 18px;
}

.button1 {
    background-color: #3882F6;
    border-radius: 10%;
    border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.button2 {
    background-color: #3882F6;
    border-radius: 10%;
    border: 2px solid white;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.footersection {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1f2937ed;
    text-align: center;
    padding: 10px 0px;

}

.underheadingtext {
    color: #E5E7EB;
    font-size: 18px;
}